.logo {
  display: flex;
  gap: 12px;
  font-family: 'Space Mono', sans-serif;
  align-items: center;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  padding-bottom: 60px;

  p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
  }
}

.nft-card {
  border-radius: 20px;
  overflow: hidden;

  &__details {
    padding: 22px 20px;
    background-color: #3B3B3B;
    display: grid;
    row-gap: 10px;
  }
}

.nft-details {
  h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 31px;
  }

  &__user {
    display: flex;
    gap: 12px;
    align-items: center;

    &-avatar {
      height: 24px;
      width: 24px;
    }

    &-name {
      span {
        font-family: 'Space Mono', sans-serif;
      }
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    font-family: 'Space Mono', sans-serif;
    margin-top: 15px;

    dl {
      &:nth-child(2) {
        text-align: right;
      }
    }

    dt {
      color: #858584;
    }

    dd {
      margin-top: 8px;
    }
  }
}

.statistics {
  ul {
    display: flex;
    gap: 30px;
    padding-top: 30px;

    h2 {
      font-family: 'Space Mono', sans-serif;
      font-weight: 700;
      font-size: 28px;
      line-height: 140%;
    }

    p {
      font-weight: 400;
      font-size: 24px;
      line-height: 160%;
    }
  }
}
