.logo {
  display: flex;
  gap: 12px;
  font-family: 'Space Mono', sans-serif;
  align-items: center;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  padding-bottom: 60px;

  p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
  }
}

.countdown {
  background: rgba(59, 59, 59, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  font-family: 'Space Mono', sans-serif;
  gap: 10px;
  display: grid;

  h4 {
    font-weight: 400;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__value {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
  }
}

.nft-card {
  border-radius: 20px;
  overflow: hidden;

  &__details {
    padding: 22px 20px;
    background-color: #3B3B3B;
    display: grid;
    row-gap: 10px;
  }
}

.nft-details {
  h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 31px;
  }

  &__user {
    display: flex;
    gap: 12px;
    align-items: center;

    &-avatar {
      height: 24px;
      width: 24px;
    }

    &-name {
      span {
        font-family: 'Space Mono', sans-serif;
      }
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    font-family: 'Space Mono', sans-serif;
    margin-top: 15px;

    dl {
      &:nth-child(2) {
        text-align: right;
      }
    }

    dt {
      color: #858584;
    }

    dd {
      margin-top: 8px;
    }
  }
}

.statistics {
  ul {
    display: flex;
    gap: 30px;
    padding-top: 30px;

    h2 {
      font-family: 'Space Mono', sans-serif;
      font-weight: 700;
      font-size: 28px;
      line-height: 140%;
    }

    p {
      font-weight: 400;
      font-size: 24px;
      line-height: 160%;
    }
  }
}

.subscription {
  display: flex;
  margin-top: 40px;

  .button {
    transform: translateX(-30px);
    width: calc(100% + 30px);
    flex: 1;
  }

  .input__email {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 16px 0 16px 20px;
    gap: 12px;
    height: 58px;
    background: white;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      color: black;
    }
  }
}
