.footer__container {
  margin: 0 auto;
  max-width: 1046px;
  display: flex;
  padding: 50px 0;
  justify-content: space-between;

  .footer__down__title {
    margin: 35px 0 20px;
    max-width: 250px;
  }

  .footer__contacts {
    display: flex;
    margin-top: 30px;
    gap: 15px;

    .contact__img {
      color: #CCCCCC;
      opacity: 0.3;
    }
  }

  .explore__title {
    h4 {
      font-family: 'Space Mono', sans-serif;
    }

    .explore__enumeration {
      margin-top: 20px;
    }
  }
}

p {
  color: #CCCCCC;
  opacity: 0.7;
  font-size: 18px;
}
