.footer {
  .footer__container {
    margin: 0 auto;
    max-width: 1046px;
    display: flex;
    padding: 50px 0;
    justify-content: space-between;

    .footer__down__title {
      margin: 35px 0 20px;
      max-width: 250px;
    }

    .footer__contacts {
      display: flex;
      margin-top: 30px;
      gap: 15px;

      .contact__img {
        color: #CCCCCC;
        opacity: 0.3;
      }
    }

    .explore__title {
      .explore__enumeration {
        margin-top: 20px;
      }
    }

    .footer__weekly_digest {
      p {
        padding: 20px 0;
        max-width: 350px;
      }
    }
  }
}

.footer__was_done {
  background: #3B3B3B;
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer__was_done__border {
  color: #858584;
  border: 1px solid #858584;
  width: 1050px;
  height: 2px;
}

.footer__who_made {
  margin: 20px 0;
  color: #CCCCCC;
  opacity: 0.7;
}

h4 {
  font-family: 'Space Mono', sans-serif;
}

p {
  color: #CCCCCC;
  opacity: 0.7;
  font-size: 18px;
}
