.header {
  $selector: &;

  padding: 20px 0;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: 1180px;
  margin: auto;
  align-items: center;

  .navbar {
    display: flex;
    gap: 30px;
    align-items: center;

    nav {
      ul {
        display: flex;
        gap: 50px;

        a {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }

  .burger {
    cursor: pointer;
    display: none;

    &__container {
      gap: 5px;
      display: grid;
    }

    span {
      background: white;
      display: block;
      height: 2px;
      width: 12px;
      border-radius: 2px;

      &:nth-child(2) {
        width: 20px;
      }
    }
  }

  .top-creators-page & {
    #{$selector}__rankings {
      display: none;
    }
  }

  .connect-wallet-page & {
    #{$selector}__connect-wallet {
      display: none;
    }
  }

  .create-account-page & {
    #{$selector}__sign-up {
      display: none;
    }
  }

  @media only screen and (max-width: 945px) {
    .navbar {
      display: none;
    }

    .burger {
      display: grid;
    }
  }
}
