.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;

  h1 {
    & + p {
      margin-top: 20px;
    }
  }

  .h2 {
    & + p {
      margin-top: 10px;
    }
  }

  .h4 {
    & + p {
      margin-top: 10px;
    }
  }

  @media only screen and (max-width: 768px) {
    &__button {
      display: none;
    }
  }
}
