<section class="auction">
  <div class="auction__container">
    <div class="auction__wrapper">
      <div class="auction__author">
        <div class="auction__avatar">
          <img src="src/media/users/user-7.svg" alt="avatar">
        </div>
        <div class="auction__user-name">Shroomie</div>
      </div>
      <div class="auction__content">
          <h2>Magic Mashrooms</h2>
          <a href="" class="button button_secondary">
            <img src="../../src/media/icons/see-all.svg" alt="">
            See NFT
          </a>
        <div class="countdown__container">
          <div class="countdown">
            <h4>Auction ends&nbsp;in:</h4>
            <div class="countdown__content">
              <div>
                <div class="countdown__value">59</div>
                <div>Hours</div>
              </div>
              <div>
                <div class="countdown__value">:</div>
                <div></div>
              </div>
              <div>
                <div class="countdown__value">59</div>
                <div>Minutes</div>
              </div>
              <div>
                <div class="countdown__value">:</div>
                <div></div>
              </div>
              <div>
                <div class="countdown__value">59</div>
                <div>Seconds</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
