<section class="digital-art">
  <div class="digital-art__details">
    <h1>Discover digital art &amp;&nbsp;Collect NFTs</h1>
    <p class="digital-art__description">NFT marketplace&nbsp;UI created with Anima for Figma. Collect, buy and sell art from more than 20k NFT artists.</p>
    <button class="button">
      <img src="../../src/media/icons/rocket-launch.svg" alt="rocket">
      Get Started
    </button>
    <div class="statistics">
      <ul>
        <li>
          <h2>240k+</h2>
          <p>Total Sale</p>
        </li>
        <li>
          <h2>100k+</h2>
          <p>Auctions</p>
        </li>
        <li>
          <h2>240k+</h2>
          <p>Artists</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="digital-art__img">
    <div class="nft-card">
      <div class="nft-card__img">
        <img src="./src/media/nft-cards/space-walking.jpg" alt="nft-card">
      </div>
      <div class="nft-card__details nft-details">
        <h3>Space Walking</h3>
        <div class="nft-details__user">
          <div class="nft-details__user-avatar">
            <img src="src/media/users/user-14.svg" alt="avatar">
          </div>
          <div class="nft-details__user-name">Animakid</div>
        </div>
      </div>
    </div>
  </div>
</section>
