<section class="discover-more-nft">
  <div class="section-title">
    <div>
      <h2>Discover More NFTs</h2>
      <p>Explore new trending NFTs</p>
    </div>
    <div class="button__desktop">
      <a href="" class="button button_outline button__desk">
        <img src="../../src-old/media/icons/see-all.svg" alt="rocket">
        See All
      </a>
    </div>
  </div>
  {{> units/discover-more-nft }}
  <div class="button__adaptive-version">
    <a href="" class="button button_outline button__av">
      <img src="../../src-old/media/icons/see-all.svg" alt="rocket">
      See All
    </a>
  </div>
</section>
