<section class="how-it-works">
  <div class="section-title">
    <div>
      <h2>How it works</h2>
      <p>Find out how to get started</p>
    </div>
  </div>
  <div class="how-it-works__container">
    <div class="explanatory-card">
      <img src="../../src-old/media/nft-cards/how-it-works/explanatory-card-1.png" alt="">
      <div>
        <h3>Setup Your wallet</h3>
        <p>Set up&nbsp;your wallet of&nbsp;choice. Connect it&nbsp;to&nbsp;the Animarket by&nbsp;clicking the wallet icon in&nbsp;the top right corner.</p>
      </div>
    </div>
    <div class="explanatory-card">
      <img src="../../src-old/media/nft-cards/how-it-works/explanatory-card-2.png" alt="">
      <div>
        <h3>Create Collection</h3>
        <p>Upload your work and setup your collection. Add a&nbsp;description, social links and floor price.</p>
      </div>
    </div>
    <div class="explanatory-card">
      <img src="../../src-old/media/nft-cards/how-it-works/explanatory-card-3.png" alt="">
      <div>
        <h3>Start Earning</h3>
        <p>Choose between auctions and fixed-price listings. Start earning by&nbsp;selling your NFTs or&nbsp;trading others.</p>
      </div>
    </div>
  </div>
</section>
