<section class="trending-collection">
  <div class="trending-collection__title">
    <h2>Trending Collection</h2>
    <p>Checkout our weekly updated trending collection.</p>
  </div>
  <div class="nft-offers__container">
    <div class="nft-offers">
      <img src="src/media/nft-cards/dog-nft.svg" alt="nft" class="main_nft">
      <div class="secondary-nft">
        <img src="src/media/nft-cards/cat-nft.svg" alt="nft">
        <img src="src/media/nft-cards/bear-nft.svg" alt="nft">
        <a href="">
          <div class="nft-counter__border">1488+</div>
        </a>
      </div>
      <div class="trending-collection__title">
        <h2>DSGN Animals</h2>
      </div>
      <div class="trending-collection__user-information">
        <div class="trending-collection__user-avatar">
          <img src="src/media/users/user-6.svg" alt="avatar">
        </div>
        <div class="trending-collection__user-name">MrFox</div>
      </div>
    </div>
    <div class="nft-offers">
      <img src="src/media/nft-cards/mushroom-nft.svg" alt="nft" class="main_nft">
      <div class="secondary-nft">
        <img src="src/media/nft-cards/mushroom-2-nft.svg" alt="nft">
        <img src="src/media/nft-cards/mushroom-3-nft.svg" alt="nft">
        <a href="">
          <div class="nft-counter__border">6+</div>
        </a>
      </div>
      <div class="trending-collection__title">
        <h2>Magic Mushrooms</h2>
      </div>
      <div class="trending-collection__user-information">
        <div class="trending-collection__user-avatar">
          <img src="src/media/users/user-7.svg" alt="avatar">
        </div>
        <div class="trending-collection__user-name">Shroomie</div>
      </div>
    </div>
    <div class="nft-offers">
      <img src="src/media/nft-cards/robot-nft.svg" alt="nft" class="main_nft">
      <div class="secondary-nft">
        <img src="src/media/nft-cards/robot-2-nft.svg" alt="nft">
        <img src="src/media/nft-cards/robot-3-nft.svg" alt="nft">
        <a href="">
          <div class="nft-counter__border">678+</div>
        </a>
      </div>
      <div class="trending-collection__title">
        <h2>Disco Machines</h2>
      </div>
      <div class="trending-collection__user-information">
        <div class="trending-collection__user-avatar">
          <img src="src/media/users/user-12.svg" alt="avatar">
        </div>
        <div class="trending-collection__user-name">BeKind2Robots</div>
      </div>
    </div>
  </div>
</section>
