<section class="weekly-digest">
  <div class="weekly-digest__container">
    <div class="weekly-digest__img">
      <img src="src/media/nft-cards/astronaut.png">
    </div>
    <div class="weekly-digest__information">
      <h2>Join our weekly digest</h2>
      <p>Get exclusive promotions &amp;&nbsp;updates straight to&nbsp;your inbox.</p>
      <label class="subscription">
        <input placeholder="Enter your email here" class="input__email">
        <div>
          <a class="button">
            <img src="src/media/icons/envelope.png" alt="man">
            Subscribe
          </a>
        </div>
      </label>
    </div>
  </div>
</section>
