@use "src/assets/styles/mixins";

.auction {
  @include mixins.container1280;

  padding-top: 0;

  &__container {
    align-items: flex-end;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #A259FF 100%);
    display: flex;
    min-height: 640px;
    position: relative;
    margin: 0 -18px;
    width: calc(100% + 36px);
    padding: 0 18px;

    &::before {
      background: url("/src/mocks/media/background/mushroom-desktop.jpg") no-repeat center;
      background-size: cover;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  &__wrapper {
    margin: 0 auto;
    max-width: 1050px;
    width: 100%;
  }

  &__content {
    display: grid;
    justify-content: space-between;
    margin: 30px auto 60px;
    width: 100%;
    align-items: flex-end;
    gap: 30px;
    grid-template-columns: 1fr 1fr;

    h2 {
      font-size: clamp(45px, 3.8vw, 51px);
      line-height: clamp(45px, 3.8vw, 56px);
    }
  }

  .auction__author {
    display: flex;
    background-color: #3B3B3B;
    width: 151px;
    height: 44px;
    border-radius: 20px;
    align-items: center;
    padding: 10px 20px;
    gap: 12px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  @media only screen and (max-width: 910px) {
    &__container {
      &::before {
        background: url("/src/mocks/media/background/mushroom-adaptiv.jpg") no-repeat center;
        background-size: cover;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    &__container {
      .countdown__container {
        grid-row: auto;
        grid-column-start: auto;
        justify-content: flex-start;

        .countdown {
          width: 100%;
        }
      }
    }

    &__content {
      grid-template-columns: auto;

      .button_secondary {
        width: 100%;
        order: 2;
      }
    }

    &__wrapper {
      max-width: 400px;
    }
  }

  @media only screen and (max-width: 450px) {
    &__container {
      &::before {
        background: url("/src/mocks/media/background/mushroom mobile.jpg") no-repeat center;
        background-size: cover;
      }
    }
  }
}
