.weekly-digest {
  $selector: &;

  &__container {
    background-color: #3B3B3B;
    padding: 60px;
    gap: 80px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    border-radius: 20px;

    img {
      border-radius: 20px;
    }

    #{$selector}__information {
      max-width: 400px;

      h2 {
        font-size: clamp(25px, 2.2vw, 38px);
      }

      p {
        margin-top: 10px;
        font-weight: 400;
        line-height: 35px;
        font-size: clamp(16px, 1.5vw, 22px);
      }
    }

    @media only screen and (max-width: 1200px) {
      #{$selector}__information {
        p {
          line-height: 20px;
        }
      }
    }

    @media only screen and (max-width: 1000px) {
      padding: 30px;

      #{$selector}__information {
        p {
          line-height: 20px;
        }
      }
    }

    @media only screen and (max-width: 840px) {
      display: grid;
      justify-content: center;
      gap: 50px;
      padding: 20px;

      #{$selector}__information {
        max-width: 100%;

        h2 {
          line-height: 26px;
        }
      }

      #{$selector}__img {
        display: grid;
        margin: auto;
      }
    }
  }
}
