@use 'src-old/styles/global/mixins';
@use 'src/assets/styles/variables/colors';

.user-profile {
  $selector: &;

  &__container {
    #{$selector}__main-information {
      #{$selector}__banner {
        display: flex;
        justify-content: center;
        margin: -18px;
        position: relative;
        margin-top: -10px;

        #{$selector}__avatar {
          position: absolute;
          bottom: -60px;
          left: 0;
        }
      }

      #{$selector}__user-information {
        max-width: 1050px;
        margin: 40px auto;

        #{$selector}__user-main-information {
          display: flex;
          justify-content: space-between;

          #{$selector}__buttom {
            display: flex;
            gap: 20px;
          }
        }

        #{$selector}__user-description {
          display: grid;
          row-gap: 30px;

          #{$selector}__bio {
            font-family: 'Space Mono', sans-serif;
            color: colors.$dark-gray;
            font-style: normal;
            font-weight: 700;
            line-height: 35px;
            text-transform: capitalize;
          }

          #{$selector}__user-links {
            font-family: 'Space Mono', sans-serif;
            color: colors.$dark-gray;
            font-style: normal;
            font-weight: 700;
            line-height: 35px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
