.discover-more-nft {
  ul {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  li {
    width: 33.33%;
  }

  .button__adaptive-version {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    ul {
      flex-wrap: wrap;
      margin: 0 -10px;
      column-gap: 0;
      row-gap: 30px;
    }

    li {
      width: 50%;
      padding: 0 10px;
    }

    img {
      width: 100%;
    }
  }

  @media only screen and (max-width: 576px) {
    li {
      width: 100%;
    }

    .button__adaptive-version {
      display: grid;
    }

    .button__av {
      display: flex;
      width: 100%;
      margin-top: 40px;
    }

    .button__desk {
      display: none;
    }
  }
}
