.discover-more-nft {
  ul {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  .button__adaptive-version {
    display: none;
  }

  @media only screen and (max-width: 1120px) {
    .nft-card__img {
      width: 290px;
      height: 260px;
    }
  }

  @media only screen and (max-width: 1020px) {
    .nft-card__img {
      width: 260px;
      height: 230px;
    }
  }

  @media only screen and (max-width: 915px) {
    ul {
      flex-wrap: wrap;
    }

    .nft-card__img {
      width: 330px;
      height: 296px;
    }
  }

  @media only screen and (max-width: 768px) {
    .button__adaptive-version {
      display: grid;
      justify-content: center;
    }

    .button__av {
      display: flex;
      width: 330px;
      margin-top: 40px;
    }

    .button__desk {
      display: none;
    }
  }

  @media only screen and (max-width: 400px) {
    .nft-card__img {
      width: 260px;
      height: 230px;
    }

    .button__av {
      width: 260px;
    }
  }
}
