.nft-offers__container {
  display: flex;
  gap: 30px;
}

.nft-offers {
  &__details {
    margin-top: 15px;
  }

  &__secondary-nft {
    gap: 15px;
    padding-top: 15px;
    display: flex;

    img {
      width: 100px;
      height: 100px;
      border-radius: 20px;
    }
  }

  .main_nft {
    border-radius: 20px;
    width: 330px;
    height: 330px;
  }

  .nft-counter__border {
    background-color: #A259FF;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    font-family: 'Space Mono', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
    display: grid;
    justify-content: center;
    align-items: center;
  }
}
