.weekly-digest__container {
  background-color: #3B3B3B;
  padding: 60px;
  gap: 80px;
  display: flex;
  width: 1050px;
  height: 430px;
  align-items: center;
  border-radius: 20px;

  img {
    border-radius: 20px;
  }

  .weekly-digest__information {
    max-width: 400px;

    p {
      margin-top: 10px;
      font-weight: 400;
      font-size: 22px;
      line-height: 35px;
    }
  }
}
