.header {
  padding: 20px 0;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: 1180px;
  margin: auto;

  .navbar {
    display: flex;
    gap: 30px;
    align-items: center;

    nav {
      ul {
        display: flex;
        gap: 50px;

        a {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}
