html {
  font-size: 62.5%;
  height: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  height: 100%;
  line-height: 2.4rem;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
