<footer>
  <div class="footer__container">
    <div class="footer__copyright">
      {{> units/logo }}
      <p class="footer__down__title">NFT marketplace&nbsp;UI created with Anima for Figma.</p>
      <p>Join our community</p>
      <div class="footer__contacts">
        <a href="" class="contact">
          <img src="src/media/icons/footer/discordlogo.png" alt="discordlogo" class="contact__img">
        </a>
        <a href="">
          <img src="src/media/icons/footer/youtubelogo.png" alt="youtubelogo" class="contact__img">
        </a>
        <a href="">
          <img src="src/media/icons/footer/twitterlogo.png" alt="twitterlogo" class="contact__img">
        </a>
        <a href="">
          <img src="src/media/icons/footer/instagramlogo.png" alt="instagramlogo" class="contact__img">
        </a>
      </div>
    </div>
    <div class="footer__explore">
      <div class="explore__title">
        <h4>Explore</h4>
        <p class="explore__enumeration">Marketplace</p>
        <p class="explore__enumeration">Rankings</p>
        <p class="explore__enumeration">Connect a wallet</p>
      </div>
    </div>
  </div>
</footer>
