<header class="header">
  {{> units/logo }}
  <div class="navbar">
    <nav>
      <ul>
        <li class="header__marketplace">
          <a href="/pages/browse-marketplace.html">Marketplace</a>
        </li>
        <li class="header__rankings">
          <a href="/pages/top-creators.html">Rankings</a>
        </li>
        <li class="header__connect-wallet">
          <a href="/pages/connect-wallet.html">Connect a&nbsp;wallet</a>
        </li>
      </ul>
    </nav>
    <div class="header__sign-up">
      <a href="/pages/create-account.html" class="button">
        <img src="../src-old/media/icons/user.svg" alt="man">
        Sign Up
      </a>
    </div>
  </div>
  <div class="burger">
    <div class="burger__container">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
