<header class="header">
  {{> units/logo }}
  <div class="navbar">
    <nav>
      <ul>
        <li>
          <a href="">Marketplace</a>
        </li>
        <li>
          <a href="">Rankings</a>
        </li>
        <li>
          <a href="">Connect a&nbsp;wallet</a>
        </li>
      </ul>
    </nav>
    <div>
      <a href="" class="button">
        <img src="../src/media/icons/user.svg" alt="man">
        Sign Up
      </a>
    </div>
  </div>
  <div class="burger">
    <div class="burger__container">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
