.nft-section {
  $selector: &;

  padding: 0;
  max-width: 1280px;

  &__background {
    background: url('/src/assets/media/images/banners/nft-banner-1.jpg') no-repeat center;
    height: 560px;
    background-size: cover;
    margin: 0 -18px;
  }
}
