@use 'src/assets/styles/variables/colors';

.work-layout {
  margin: 0 auto;
  max-width: 1050px;

  &__container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 3fr);

    img {
      border-radius: 25px 25px 0 0;
    }
  }
}
