@use 'src/assets/styles/variables/colors';

.modal {
  box-shadow: -10px 0px 10px colors.$shoe-wax;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 320px;
  width: 30%;
  background: colors.$black-liquorice;
  padding: 25px 18px;

  &__close {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;

    span {
      cursor: pointer;
      display: inline-flex;
    }
  }
}
