@use 'src/assets/styles/variables/colors';

.work-layout {
  position: relative;
  max-width: none;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -18px;
    height: 100%;
    width: calc(100% + 18px * 2);
    z-index: -1;
  }

  &::after {
    border-bottom: 2px solid colors.$shoe-wax;
    position: relative;
    display: block;
  }

  &::before {
    background: colors.$black-liquorice;
  }

  &__container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 3fr);
    margin: 0 auto;
    max-width: 1050px;
    padding: 60px 0;

    img {
      border-radius: 25px 25px 0 0;
    }
  }

  @media only screen and (max-width: 1110px) {
    &__container {
      flex-wrap: wrap;
      justify-content: center;
      display: flex;
    }
  }
}
