@use 'src/assets/styles/variables/colors';

.community {
  p {
    color: colors.$gray;
    font-size: 18px;
  }

  svg {
    fill: colors.$dark-gray;
  }

  &__contacts {
    display: flex;
    margin-top: 30px;
    gap: 15px;
  }
}
