<ul class="browse-categories__container">
  <li>
    <a href="">
      <div class="nft-card">
        <div class="nft-card__img">
          <img src="../../src-old/media/nft-cards/nft-categories-1.svg" alt="Nft card">
          <div class="nft-card__icon">
            <img src="../../src-old/media/icons/browse-categories/paint-brush.svg" alt="Nft card icon">
          </div>
        </div>
        <div class="nft-card__details nft-details">
          <h3>Art</h3>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="">
      <div class="nft-card">
        <div class="nft-card__img">
          <img src="../../src-old/media/nft-cards/nft-categories-2.svg" alt="Nft card">
          <div class="nft-card__icon">
            <img src="../../src-old/media/icons/browse-categories/swatches.svg" alt="Nft card icon">
          </div>
        </div>
        <div class="nft-card__details nft-details">
          <h3>Collectibles</h3>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="">
      <div class="nft-card">
        <div class="nft-card__img">
          <img src="../../src-old/media/nft-cards/nft-categories-3.svg" alt="Nft card">
          <div class="nft-card__icon">
            <img src="../../src-old/media/icons/browse-categories/music-notes.svg" alt="Nft card icon">
          </div>
        </div>
        <div class="nft-card__details nft-details">
          <h3>Music</h3>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="">
      <div class="nft-card">
        <div class="nft-card__img">
          <img src="../../src-old/media/nft-cards/nft-categories-4.svg" alt="Nft card">
          <div class="nft-card__icon">
            <img src="../../src-old/media/icons/browse-categories/camera.svg" alt="Nft card icon">
          </div>
        </div>
        <div class="nft-card__details nft-details">
          <h3>Photography</h3>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="">
      <div class="nft-card">
        <div class="nft-card__img">
          <img src="../../src-old/media/nft-cards/nft-categories-5.svg" alt="Nft card">
          <div class="nft-card__icon">
            <img src="../../src-old/media/icons/browse-categories/video-camera.svg" alt="Nft card icon">
          </div>
        </div>
        <div class="nft-card__details nft-details">
          <h3>Video</h3>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="">
      <div class="nft-card">
        <div class="nft-card__img">
          <img src="../../src-old/media/nft-cards/nft-categories-6.svg" alt="Nft card">
          <div class="nft-card__icon">
            <img src="../../src-old/media/icons/browse-categories/magicwand.svg" alt="Nft card icon">
          </div>
        </div>
        <div class="nft-card__details nft-details">
          <h3>Utility</h3>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="">
      <div class="nft-card">
        <div class="nft-card__img">
          <img src="../../src-old/media/nft-cards/nft-categories-7.svg" alt="Nft card">
          <div class="nft-card__icon">
            <img src="../../src-old/media/icons/browse-categories/basketball.svg" alt="Nft card icon">
          </div>
        </div>
        <div class="nft-card__details nft-details">
          <h3>Sport</h3>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="">
      <div class="nft-card">
        <div class="nft-card__img">
          <img src="../../src-old/media/nft-cards/nft-categories-8.svg" alt="Nft card">
          <div class="nft-card__icon">
            <img src="../../src-old/media/icons/browse-categories/planet.svg" alt="Nft card icon">
          </div>
        </div>
        <div class="nft-card__details nft-details">
          <h3>Virtual Worlds</h3>
        </div>
      </div>
    </a>
  </li>
</ul>
