<div class="creators__user">
  <span class="creators__number">1</span>
  <div class="creators__avatar">
    <img src="../../src-old/media/users/user-1.svg" alt="user avatar">
  </div>
  <div class="creators__details">
    <h3>Keepitreal</h3>
    <p><span>Total Sales:</span> 34.53 ETH</p>
  </div>
</div>
<div class="creators__user">
  <span class="creators__number">2</span>
  <div class="creators__avatar">
    <img src="../../src-old/media/users/user-2.svg" alt="user avatar">
  </div>
  <div class="creators__details">
    <h3>DigiLab</h3>
    <p><span>Total Sales:</span> 78.56 ETH</p>
  </div>
</div>
<div class="creators__user">
  <span class="creators__number">3</span>
  <div class="creators__avatar">
    <img src="../../src-old/media/users/user-3.svg" alt="user avatar">
  </div>
  <div class="creators__details">
    <h3>GravityOne</h3>
    <p><span>Total Sales:</span> 44.58 ETH</p>
  </div>
</div>
<div class="creators__user">
  <span class="creators__number">4</span>
  <div class="creators__avatar">
    <img src="../../src-old/media/users/user-4.svg" alt="user avatar">
  </div>
  <div class="creators__details">
    <h3>Juanie</h3>
    <p><span>Total Sales:</span> 56.89 ETH</p>
  </div>
</div>
<div class="creators__user">
  <span class="creators__number">5</span>
  <div class="creators__avatar">
    <img src="../../src-old/media/users/user-5.svg" alt="user avatar">
  </div>
  <div class="creators__details">
    <h3>BlueWhale</h3>
    <p><span>Total Sales:</span> 74.68 ETH</p>
  </div>
</div>
<div class="creators__user">
  <span class="creators__number">6</span>
  <div class="creators__avatar">
    <img src="../../src-old/media/users/user-6.svg" alt="user avatar">
  </div>
  <div class="creators__details">
    <h3>mr fox</h3>
    <p><span>Total Sales:</span> 45.63 ETH</p>
  </div>
</div>
<div class="creators__user">
  <span class="creators__number">7</span>
  <div class="creators__avatar">
    <img src="../../src-old/media/users/user-7.svg" alt="user avatar">
  </div>
  <div class="creators__details">
    <h3>Shroomie</h3>
    <p><span>Total Sales:</span> 69.13 ETH</p>
  </div>
</div>
<div class="creators__user">
  <span class="creators__number">8</span>
  <div class="creators__avatar">
    <img src="../../src-old/media/users/user-8.svg" alt="user avatar">
  </div>
  <div class="creators__details">
    <h3>robotica</h3>
    <p><span>Total Sales:</span> 89.61 ETH</p>
  </div>
</div>
<div class="creators__user">
  <span class="creators__number">9</span>
  <div class="creators__avatar">
    <img src="../../src-old/media/users/user-9.svg" alt="user avatar">
  </div>
  <div class="creators__details">
    <h3>RustyRobot</h3>
    <p><span>Total Sales:</span> 28.75 ETH</p>
  </div>
</div>
<div class="creators__user">
  <span class="creators__number">10</span>
  <div class="creators__avatar">
    <img src="../../src-old/media/users/user-13.svg" alt="user avatar">
  </div>
  <div class="creators__details">
    <h3>animakid</h3>
    <p><span>Total Sales:</span> 82.61 ETH</p>
  </div>
</div>
<div class="creators__user">
  <span class="creators__number">11</span>
  <div class="creators__avatar">
    <img src="../../src-old/media/users/user-15.svg" alt="user avatar">
  </div>
  <div class="creators__details">
    <h3>Dotgu</h3>
    <p><span>Total Sales:</span> 98.26 ETH</p>
  </div>
</div>
<div class="creators__user">
  <span class="creators__number">12</span>
  <div class="creators__avatar">
    <img src="../../src-old/media/users/user-16.svg" alt="user avatar">
  </div>
  <div class="creators__details">
    <h3>Ghiblier</h3>
    <p><span>Total Sales:</span> 65.73 ETH</p>
  </div>
</div>
