@use 'src/assets/styles/variables/globals';

.footer {
  //max-width: globals.$max-width;

  $selector: &;

  h4 {
    font-family: 'Space Mono', sans-serif;
    margin-bottom: 35px;
  }

  p,
  &__header-menu {
    color: #CCCCCC;
    opacity: 0.7;
    font-size: 18px;

    a {
      color: #CCCCCC;
    }
  }

  &__container {
    margin: 0 auto;
    max-width: 1046px;
    padding: 0 18px;
  }

  &__content {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
    row-gap: 30px;

    #{$selector}__down__title {
      margin: 35px 0 20px;
      max-width: 250px;
    }

    #{$selector}__contacts {
      display: flex;
      margin-top: 30px;
      gap: 15px;

      .contact__img {
        color: #CCCCCC;
        opacity: 0.3;
      }
    }

    #{$selector}__weekly_digest {
      p {
        padding-bottom: 20px;
        max-width: 350px;
      }
    }
  }

  &__was_done {
    border-top: 1px solid #858584;
    padding: 20px 0;

    p {
      color: #CCC;
      opacity: 0.7;
    }
  }

  @media only screen and (max-width: 930px) {
    &__content {
      display: grid;

      .subscription {
        display: flex;

        .input__email {
          border-radius: 20px 0 0 20px;
          height: 60px;
        }

        .button {
          transform: translateX(-30px);
          width: calc(100% + 30px);
          height: 60px;
        }
      }
    }
  }

  @media only screen and (max-width: 430px) {
    h4 {
      font-size: 18px;
    }

    &__content {
      .subscription {
        display: grid;
        row-gap: 20px;

        .input__email {
          border-radius: 20px;
          height: 40px;
        }

        .button {
          width: 100%;
          height: 40px;
          transform: translateX(0);
        }
      }

      #{$selector}__down__title {
        font-size: 15px;
      }

      #{$selector}__weekly_digest {
        p {
          font-size: 15px;
        }
      }
    }

    &__was_done {
      p {
        font-size: 12px;
      }
    }
  }
}
