@use 'src/assets/styles/mixins';

.top-creators {
  display: grid;
  row-gap: mixins.clamps(40px, 60px);

  img {
    border-radius: 100%;
  }

  &__button {
    display: none;
  }


  @media only screen and (max-width: 768px) {
    &__button {
      display: flex;
    }
  }
}
