@use 'src/assets/styles/mixins';

.discover-more-nfts {
  &__button {
    display: none;
  }

  &__card {
    display: grid;
    gap: 30px;
    margin-top: 60px;
    grid-template-columns: repeat(3, 1fr);

    img {
      border-radius: 25px 25px 0 0;
    }
  }

  @media only screen and (max-width: 768px) {
    &__card {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__button {
      display: flex;
      margin-top: 40px;
    }
  }
}
