.nft-section {
  padding: 0;
  max-width: 1280px;
  margin-bottom: 40px;

  &__background {
    // TODO исправить
    // background: url('/src/mocks/media/banners/nft-background.jpg') no-repeat center;
    background: var(--background);
    height: 560px;
    background-size: cover;
    margin: 0 -18px;
  }
}
