.nft-section {
  padding: 0;
  max-width: 1280px;
  margin-bottom: 40px;

  &__background {
    // исправить
    background: url('/src/mocks/media/banners/nft-banner.jpg') no-repeat center;
    height: 560px;
    background-size: cover;
    margin: 0 -18px;
  }
}
