@use '../../../../assets/styles/variables/colors';

.user-profile-section {
  $selector: &;

  padding: 0;
  max-width: 1280px;

  &__background {
    // исправить
    background: url('/src/mocks/media/banners/user-banner.jpg') no-repeat center;
    height: 320px;
    background-size: cover;
    margin: 0 -18px;
  }

  &__avatar-container {
    max-width: 1050px;
    margin: -60px auto 0;

    #{$selector}__avatar {
      border: 4px solid colors.$shoe-wax;
      width: fit-content;
      border-radius: 25px;
    }
  }

  @media only screen and (max-width: 576px) {
    &__avatar {
      margin: 0 auto;
    }
  }
}
