@use 'sass:math';
@use 'sass:list';

@mixin container1046 {
  margin: 0 auto;
  max-width: 1046px;
}

@mixin container1280 {
  margin: 0 auto;
  max-width: 1280px;
}

@mixin section {
  padding: clamp-auto(40px, 80px) 0;
}

@mixin font($font-typography, $font-weight: 400) {
  $max: list.nth($font-typography, 1);
  $min: list.nth($font-typography, 2);

  @if not $min {
    font-size: list.nth($max, 1);
    font-weight: $font-weight;
    line-height: list.nth($max, 2);
  } @else {
    font-size: clamp-auto(list.nth($min, 1), list.nth($max, 1));
    font-weight: $font-weight;
    line-height: clamp-auto(list.nth($min, 2), list.nth($max, 2));
  }
}

@function strip-unit($value) {
  @return math.div($value, ($value * 0 + 1));
}

@function clamp-auto($min-value, $max-value, $divider: 14.36) {
  $medium-value: #{math.div(strip-unit($max-value), $divider)}vw;

  @return clamp(#{$min-value}, #{$medium-value}, #{$max-value});
}
