@use 'src/assets/styles/mixins';

.browse-marketplace {
  $selector: &;

  /* ... */

  &__search-string {
    margin: 30px auto 80px;
    display: flex;
    max-width: 1050px;
    width: 100%;
    position: relative;

    label {
      width: 100%;
    }

    #{$selector}__search {
      max-width: 1050px;
      height: 60px;
      border: 1px solid #3B3B3B;
      border-radius: 20px;
      background: #2B2B2B;
      width: 100%;
      color: white;
      padding: 0 50px 0 20px;
      font-size: 14px;
      outline: none;
    }

    #{$selector}__search::placeholder {
      font-size: mixins.clamp-auto(12px, 16px);
      line-height: mixins.clamp-auto(14px, 22px);
    }
  }

  &__search-icon {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 19px;
    cursor: pointer;
  }

  &__choice-point {
    #{$selector}__trait {
      border: 1px solid #3B3B3B;
      margin: 0 -18px;
    }

    #{$selector}__buttons {
      padding: 25px 0 15px 0;
      margin: 0 auto;
      max-width: 830px;
      display: flex;
      gap: 20px;
      justify-content: space-around;

      a {
        font-weight: 600;
        font-size: mixins.clamp-auto(17px, 22px);
        line-height: mixins.clamp-auto(20px, 31px);

        span {
          font-family: "Space Mono", sans-serif;
          font-size: mixins.clamp-auto(13px, 16px);
          line-height: mixins.clamp-auto(15px, 22px);
          background: #858584;
          border-radius: 20px;
          padding: 5px;
          margin-left: 10px;
        }
      }
    }
  }
}
