<div class="top-creators__creator">
  <div class="top-creators__serial-number">1</div>
  <div class="top-creators__artist-details">
    <div class="top-creators__avatar">
      <img src="../src/media/users/user-1.svg" alt="">
    </div>
    <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  </div>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number">2</div>
  <div class="top-creators__artist-details">
    <div class="top-creators__avatar">
      <img src="../src/media/users/user-2.svg" alt="">
    </div>
    <p class="top-creators__name">Ruben Carder</p>
  </div>
  <div class="top-creators__change">+3.56%</div>
  <div class="top-creators__nft-sold">789</div>
  <div class="top-creators__volume">15.6 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number">3</div>
  <div class="top-creators__artist-details">
    <div class="top-creators__avatar">
      <img src="../src/media/users/user-3.svg" alt="">
    </div>
    <p class="top-creators__name">Alfredo Septimus</p>
  </div>
  <div class="top-creators__change">+5.89%</div>
  <div class="top-creators__nft-sold">564</div>
  <div class="top-creators__volume">9.68 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number">4</div>
  <div class="top-creators__artist-details">
    <div class="top-creators__avatar">
      <img src="../src/media/users/user-4.svg" alt="">
    </div>
    <p class="top-creators__name">Davis Franci</p>
  </div>
  <div class="top-creators__change">+8.17%</div>
  <div class="top-creators__nft-sold">724</div>
  <div class="top-creators__volume">67.81 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number">5</div>
  <div class="top-creators__artist-details">
    <div class="top-creators__avatar">
      <img src="../src/media/users/user-5.svg" alt="">
    </div>
    <p class="top-creators__name">Livia Rosser</p>
  </div>
  <div class="top-creators__change">+8.4%</div>
  <div class="top-creators__nft-sold">736</div>
  <div class="top-creators__volume">176.1 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number">6</div>
  <div class="top-creators__artist-details">
    <div class="top-creators__avatar">
      <img src="../src/media/users/user-6.svg" alt="">
    </div>
    <p class="top-creators__name">Kianna Donin</p>
  </div>
  <div class="top-creators__change">+17.614%</div>
  <div class="top-creators__nft-sold">266</div>
  <div class="top-creators__volume">17.27 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number">7</div>
  <div class="top-creators__artist-details">
    <div class="top-creators__avatar">
      <img src="../src/media/users/user-7.svg" alt="">
    </div>
    <p class="top-creators__name">Phillip Lipshutz</p>
  </div>
  <div class="top-creators__change">+61.28%</div>
  <div class="top-creators__nft-sold">286</div>
  <div class="top-creators__volume">16.83 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number">8</div>
  <div class="top-creators__artist-details">
    <div class="top-creators__avatar">
      <img src="../src/media/users/user-8.svg" alt="">
    </div>
    <p class="top-creators__name">Maria Rosser</p>
  </div>
  <div class="top-creators__change">+71.482%</div>
  <div class="top-creators__nft-sold">718</div>
  <div class="top-creators__volume">71.28 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number">9</div>
  <div class="top-creators__artist-details">
    <div class="top-creators__avatar">
      <img src="../src/media/users/user-9.svg" alt="">
    </div>
    <p class="top-creators__name">Kianna Stanton</p>
  </div>
  <div class="top-creators__change">+91.48%</div>
  <div class="top-creators__nft-sold">720</div>
  <div class="top-creators__volume">181.82 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number">10</div>
  <div class="top-creators__artist-details">
    <div class="top-creators__avatar">
      <img src="../src/media/users/user-10.svg" alt="">
    </div>
    <p class="top-creators__name">Angel Lubin</p>
  </div>
  <div class="top-creators__change">+92.47%</div>
  <div class="top-creators__nft-sold">671</div>
  <div class="top-creators__volume">18.44 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number">11</div>
  <div class="top-creators__artist-details">
    <div class="top-creators__avatar">
      <img src="../src/media/users/user-11.svg" alt="">
    </div>
    <p class="top-creators__name">Allison Torff</p>
  </div>
  <div class="top-creators__change">+92.71%</div>
  <div class="top-creators__nft-sold">682</div>
  <div class="top-creators__volume">19.41 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number">12</div>
  <div class="top-creators__artist-details">
    <div class="top-creators__avatar">
      <img src="../src/media/users/user-12.svg" alt="">
    </div>
    <p class="top-creators__name">Davis Workman</p>
  </div>
  <div class="top-creators__change">+11.81%</div>
  <div class="top-creators__nft-sold">718</div>
  <div class="top-creators__volume">172.92 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number">13</div>
  <div class="top-creators__artist-details">
    <div class="top-creators__avatar">
      <img src="../src/media/users/user-18.svg" alt="">
    </div>
    <p class="top-creators__name">Lindsey Lipshutz</p>
  </div>
  <div class="top-creators__change">+92.01%</div>
  <div class="top-creators__nft-sold">728</div>
  <div class="top-creators__volume">82.48 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number">14</div>
  <div class="top-creators__artist-details">
    <div class="top-creators__avatar">
      <img src="../src/media/users/user-13.svg" alt="">
    </div>
    <p class="top-creators__name">Randy Carder</p>
  </div>
  <div class="top-creators__change">+19.482%</div>
  <div class="top-creators__nft-sold">722</div>
  <div class="top-creators__volume">65.76 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number">15</div>
  <div class="top-creators__artist-details">
    <div class="top-creators__avatar">
      <img src="../src/media/users/user-15.svg" alt="">
    </div>
    <p class="top-creators__name">Lydia Culhane</p>
  </div>
  <div class="top-creators__change">+29.454%</div>
  <div class="top-creators__nft-sold">545</div>
  <div class="top-creators__volume">145.12 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number">16</div>
  <div class="top-creators__artist-details">
    <div class="top-creators__avatar">
      <img src="../src/media/users/user-17.png" alt="">
    </div>
    <p class="top-creators__name">Rayna Bator</p>
  </div>
  <div class="top-creators__change">+29.421%</div>
  <div class="top-creators__nft-sold">545</div>
  <div class="top-creators__volume">65.239 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number">17</div>
  <div class="top-creators__artist-details">
    <div class="top-creators__avatar">
      <img src="../src/media/users/user-16.svg" alt="">
    </div>
    <p class="top-creators__name">Jocelyn Westervelt</p>
  </div>
  <div class="top-creators__change">+29.71%</div>
  <div class="top-creators__nft-sold">823</div>
  <div class="top-creators__volume">82.45 ETH</div>
</div>
