<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>
<div class="top-creators__creator">
  <div class="top-creators__serial-number-container">
    <div class="top-creators__serial-number">1</div>
  </div>
  <div class="top-creators__avatar">
    <img src="../src/media/users/user-1.svg" alt="" style="width: 60px">
  </div>
  <p class="top-creators__name">Jaydon Ekstrom Bothman</p>
  <div class="top-creators__change">+1.41%</div>
  <div class="top-creators__nft-sold">602</div>
  <div class="top-creators__volume">12.4 ETH</div>
</div>

