.explanatory-card {
  gap: 20px;
  width: 33.33%;
  background: #3B3B3B;
  border-radius: 20px;
  padding: 10px 30px 30px;

  img {
    margin: auto;
    width: 100%;
    padding: 0 10px;
    max-width: 250px;
  }
}
