@use 'src/styles/global/mixins';

.browse-marketplace {
  $selector: &;

  &__title {
    margin: 80px auto 0;
    max-width: 1050px;

    h1 {
      font-weight: 600;
      font-size: mixins.clamp-auto(35px, 51px);
      line-height: mixins.clamp-auto(34px, 56px);
    }

    p {
      font-size: mixins.clamp-auto(15px, 22px);
      line-height: mixins.clamp-auto(25px, 35px);
    }
  }

  &__search-string {
    margin: 30px auto 80px;
    display: flex;
    max-width: 1050px;
    width: 100%;
    position: relative;

    label {
      width: 100%;
    }

    .search {
      max-width: 1050px;
      height: 60px;
      border: 1px solid #3B3B3B;
      border-radius: 20px;
      background: #2B2B2B;
      width: 100%;
      color: white;
      padding: 0 50px 0 20px;
      font-size: 14px;
      outline: none;
    }

    .search::placeholder {
      font-size: mixins.clamp-auto(12px, 16px);
      line-height: mixins.clamp-auto(14px, 22px);
    }
  }

  &__search-img {
    .magnifying-glass {
      display: flex;
      align-items: center;
      position: absolute;
      right: 20px;
      top: 19px;
    }
  }

  &__choice-point {
    #{$selector}__trait {
      border: 1px solid #3B3B3B;
      margin: 0 -18px;
    }

    #{$selector}__buttons {
      padding: 25px 0 15px 0;
      margin: 0 auto;
      max-width: 830px;
      display: flex;
      gap: 20px;
      justify-content: space-around;

      a {
        font-weight: 600;
        font-size: mixins.clamp-auto(17px, 22px);
        line-height: mixins.clamp-auto(20px, 31px);

        span {
          font-family: "Space Mono", sans-serif;
          font-size: mixins.clamp-auto(13px, 16px);
          line-height: mixins.clamp-auto(15px, 22px);
          background: #858584;
          border-radius: 20px;
          padding: 5px;
          margin-left: 10px;
        }
      }
    }
  }

  //&__offers {
  //  position: relative;
  //  padding-bottom: 80px;
  //
  //  &::after {
  //    content: '';
  //    position: absolute;
  //    width: calc(100% + 18px * 2);
  //    height: 3px;
  //    bottom: 0;
  //    left: 0;
  //    background-color: #2B2B2B;
  //    margin: 0 -18px;
  //  }
  //
  //  &::before {
  //    content: '';
  //    position: absolute;
  //    height: 100%;
  //    width: calc(100% + 18px * 2);
  //    background: #3B3B3B;
  //    left: 0;
  //    z-index: -1;
  //    bottom: 0;
  //    margin: 0 -18px;
  //  }
  //
  //  ul {
  //    display: flex;
  //    justify-content: space-between;
  //    row-gap: 30px;
  //    flex-wrap: wrap;
  //  }
  //
  //  li {
  //    width: 33.33%;
  //    padding: 0 10px;
  //  }
  //
  //  #{$selector}__offers-container {
  //    margin: 0 auto;
  //    padding-top: 60px;
  //    display: flex;
  //    justify-content: space-between;
  //    flex-wrap: wrap;
  //    gap: 30px;
  //    max-width: 1050px;
  //  }
  //
  //  .nft-card__details {
  //    background-color: #2B2B2B;
  //  }
  //}
  //
  //@media only screen and (max-width: 768px) {
  //  &__offers {
  //    li {
  //      width: 50%;
  //      flex-wrap: wrap;
  //      display: flex;
  //    }
  //  }
  //}
  //
  //@media only screen and (max-width: 645px) {
  //  &__offers {
  //    li {
  //      width: 100%;
  //      flex-wrap: wrap;
  //      display: flex;
  //      justify-content: center;
  //    }
  //  }
  //}
}
