.create-account-main {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  gap: 60px;

  & > div {
    width: 50%;
  }

  h2 {
    font-size: 51px;
    line-height: 56px;
  }

  p {
    font-size: 22px;
    line-height: 35px;
  }

  .registration {
    padding-top: 40px;

    .registration__container {
      display: grid;
      gap: 15px;
      max-width: 330px;

      .button {
        height: 46px;
        margin-top: 15px;
        width: 100%;
      }

      .data-filling {
        border-radius: 20px;
        width: 100%;
        height: 46px;
        outline: none;
        flex-direction: row;
        align-items: center;
        background: #FFFFFF;
        border: 1px solid #858584;
      }

      .registration__data-filling {
        display: flex;
        position: relative;

        input {
          padding: 16px 20px 16px 40px;
        }

        .data-filling__img {
          transform: translateX(15px);
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }
}
