@use 'src/styles/global/mixins';

.top-creators {
  margin: 0 auto;
  max-width: 1050px;

  h1 {
    margin: 0 0 20px 0;
    font-size: 51px;
  }

  p {
    font-size: 22px;
  }

  .top-creators__title-page {
    margin: 80px 0;
  }

  .top-creators__control-panel {
    display: flex;
    padding: 0 200px;
    justify-content: space-between;

    p {
      font-weight: 600;
    }
  }
}
