@use 'src/styles/global/mixins';

.top-creators {
  $selector: &;

  margin: 0 auto;
  max-width: 1050px;

  p {
    font-size: 22px;
  }

  &__title-page {
    margin: 80px 0;

    h1 {
      margin: 0 0 20px 0;
      font-size: mixins.clamp-auto(45px, 51px);
      line-height: 37px;
    }

    p {
      font-size: mixins.clamp-auto(14px, 22px);
      line-height: mixins.clamp-auto(20px, 35px);
    }
  }

  &__control-panel {
    display: flex;
    padding: 0 200px;
    justify-content: space-between;
    gap: 30px;

    p {
      font-weight: 600;
    }
  }

  &__list {
    #{$selector}__list-header {
      display: flex;
      align-items: center;
      padding: 25px 20px;
      gap: 20px;
      height: 42px;
      border-radius: 20px;
      border: 2px solid #3B3B3B;
      background-color: transparent;
      margin: 30px 0 20px 0;

      p {
        color: #858584;
        font-family: 'Space Mono', sans-serif;
      }

      #{$selector}__example-1 {
        width: 30px;
      }

      #{$selector}__example-2 {
        width: 40%;
      }

      #{$selector}__example-3 {
        width: 20%;
      }

      #{$selector}__example-4 {
        width: 20%;
      }

      #{$selector}__example-5 {
        width: 20%;
      }
    }
  }

  &__creator {
    align-items: center;
    padding: 12px 20px;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 84px;
    background: #3B3B3B;
    border-radius: 20px;
    margin-bottom: 20px;

    #{$selector}__serial-number {
      width: 30px;
      height: 30px;
      background: #2B2B2B;
      border-radius: 20px;
      font-family: 'Space Mono', sans-serif;
      color: #858584;
      text-align: center;
      align-items: center;
      display: grid;
    }

    #{$selector}__artist-details {
      width: 40%;
    }

    #{$selector}__name {
      width: 31%;
    }

    #{$selector}__change {
      font-family: 'Space Mono', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #00AC4F;
      width: 40%;
    }

    #{$selector}__nft-sold {
      font-family: 'Space Mono', sans-serif;
      width: 20%;
    }

    #{$selector}__volume {
      width: 20%;
    }
  }
}
